# Dependencias del proyecto
# Conexión a SQL Server
pyodbc

# Opcional: componentes con Python
reactpy

# Para manejar variables de entorno
python-dotenv

# Opcional: testing
pytest

# Opcional: agregrar lo que crean necesario